body {
    font-family: 'Arial', sans-serif;
    color: #1b4965;
    line-height: 1.6;
    background: #cae9ff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.new-entry-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #62B6CB;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.entries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.entry-card {
    display: block;
    padding: 1rem;
    background: #fff;
    border: 1px solid #62b6cb;
    border-radius: 8px;
    color: #1b4965;
}

.entry-card:hover {
    box-shadow: 0 6px 8px #1b4965;
}

.entry-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.entry-card p {
    overflow: hidden
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.fields {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex; 
    flex-flow: column;
    align-items: center;
    font-weight: bold;
}

input[type="submit"] {
    display: block;
    padding: 0.5rem 1rem;
    margin: 3rem 3rem 1rem 3rem;
    background: #1b4965;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background: #444;
}

a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: #333;
}

.entry-form {
    margin-bottom: 1rem;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1b4965;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  
  .navbar a:hover {
    color: #bfc0c0;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-right span {
    color: #ffffff;
    margin-left: 1rem;
    margin-right: 1rem; /* Add right margin to the welcome message */
    font-size: 1rem;
    line-height: 1rem; /* Set line-height equal to font-size */
    position: absolute;
    top: 1rem; /* Add top offset */
    right: 2rem; /* Add right offset */
  }
  
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 100%; /* Make the input fields take the full width of their container */
    padding: 10px; /* Add padding inside the input fields to make them larger */
    border-radius: 5px; /* Add rounded corners to the input fields */
    border: 1px solid #ccc; /* Add a border around the input fields */
    font-size: 16px; /* Increase the font size in the input fields */
    margin-bottom: 10px; /* Add some space between input fields */
  }