{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>About AI Journal</h1>
    <p>
        Welcome to AI Journal! This app is designed to help you 
        maintain a daily journal with insightful feeback from an AI-powered chatbot. 
        Our goal is to provide you with a platform for self-reflection and personal growth.
    </p>

    <h2>Why Journal?</h2>
    <p>
        Daily journaling offers numerous benefits that can significantly impact your mental and emotional well-being,
         as well as your overall productivity and personal growth. By consistently putting your thoughts and
          feelings on paper, you create a space for self-reflection and self-expression, 
          allowing you to process emotions and gain valuable insights into your personal patterns and habits.
           Moreover, journaling promotes clarity of thought, which can lead to better decision-making,
            improved focus, and a heightened sense of purpose. As you develop a clearer understanding of 
            your thoughts, emotions, and experiences, you'll be better equipped to overcome challenges,
             nurture positive relationships, and work towards your goals with renewed energy and confidence.
         Daily journaling serves as a catalyst for personal growth and self-improvement, empowering you to unlock your full 
         potential and lead a more fulfilling life.
    </p>

    <h2>AI-Powered Chat</h2>
    <p>
        Our AI chatbot, powered by the latest model of ChatGPT, is designed to provide top-tier advice on personal growth and self-improvement.
        Drawing on the expertise of professional clinical psychologists and performance coaches,
         the chatbot can help you reflect on your day and identify actionable steps for optimizing your performance
        the following day.
    </p>

    <h2>Get Started</h2>
    <p>
        To start using our app, simply <a href="/signup">register</a> for a free account or <a href="/login">log in</a> if you already have one. 
        Once logged in, you can access the journaling features and receive insightful feedback from our AI powered chatbot. 
        We hope you find our app useful in your journey of self-discovery and personal growth!
    </p>

    <a href="/">Back to Home</a>
</div>
{% endblock %}