{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="container2">
    <h1>about journ ai</h1>
    <p class="containertext">
        Welcome to the future of journaling - where self-reflection meets AI-driven insights. 
        This is more than a journal, it's your partner in self-improvement. <br><br>
        Journ AI harnesses the power of AI to help you reflect, learn, and evolve. <br><br>
        Document your daily activities, emotions, goals, and challenges. In return, the AI will reveal your patterns, providing you with meaningful insights for a better tomorrow. <br><br>
        Achieving your goals will no longer just a dream, but an efficient and enjoyable journ<em>ai.</em>
    </p>
    <br><br>

    <h2>prompt examples</h2>
    <div class="containertext">
    <p>
    <ul>What were your main activities and achievements?</ul>
    <ul>How did your mood fluctuate throughout the day and were there any triggers?</ul>
    <ul>Were there tasks you found yourself procrastinating on?</ul>
    <ul>Did you manage a good balance between work and relaxation?</ul>
    <ul>Did you meet your goals, and if not, what held you back?</ul>
    <ul>If you could relive the day, what would you do differently?</ul>
    <ul>What are your aspirations for tomorrow, and how do you plan on achieving them?"</ul>
    </p>
    </div>
    <br><br>
    <br><br>
</div>
</div>
    <a href="/">Back to Home</a>

{% endblock %}