{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>about journ ai</h1>
    <p>
        Journ AI is an intelligent journal that not only records your thoughts but also provides meaningful feedback for self-improvement.
        It's a personalized AI-powered journaling tool that helps you reflect, learn, and grow.
        <br><br>
        Just jot down your daily activities, emotions, goals, and challenges, and Journ AI gives you insight into your patterns,
        offering tailored prompts to optimise tomorrow.
        <br><br>
        With Journ AI, you gain a powerful self-reflection tool that assists you in understanding yourself
         better and achieving your goals more efficiently.
    </p>

    <h2>why journal?</h2>
    <p>
        Daily journaling offers numerous benefits that can significantly impact your mental and emotional well-being,
         as well as your overall productivity and personal growth.
         <br><br>
         By consistently putting your thoughts and
          feelings on paper, you create a space for self-reflection and self-expression, 
          allowing you to process emotions and gain valuable insights into your personal patterns and habits.
          <br><br>
          Journaling promotes clarity of thought, which can lead to better decision-making,
            improved focus, and a heightened sense of purpose. As you develop a clearer understanding of 
            your thoughts, emotions, and experiences, you'll be better equipped to overcome challenges,
             nurture positive relationships, and work towards your goals with renewed energy and confidence.
             <br><br>
         Daily journaling serves as a catalyst for personal growth and self-improvement, empowering you to unlock your full 
         potential and lead a more fulfilling life.
    </p>

    <h2>prompt examples</h2>
    <p>
    <ul>What were your main activities and achievements?</ul>
    <ul>How did your mood fluctuate throughout the day and were there any triggers?</ul>
    <ul>Were there tasks you found yourself procrastinating on?</ul>
    <ul>Did you manage a good balance between work and relaxation?</ul>
    <ul>Did you meet your goals, and if not, what held you back?</ul>
    <ul>If you could relive the day, what would you do differently?</ul>
    <ul>What are your aspirations for tomorrow, and how do you plan on achieving them?"</ul>
    </p>
    <br><br>
    <br><br>
    <a href="/">Back to Home</a>
</div>
{% endblock %}