<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Red+Hat+Display&family=Work+Sans&display=swap" rel="stylesheet">
    {% endblock %}
    <title>Journal</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-left">
            <a href="/about">about</a>
            <a href="/entries">entries</a>
            <a href="/forms/entries/add">new entry</a>
        </div>
        <h2 id="title">journ ai</h1>
        <div class="navbar-right">
            {% if session.user_id %}
              <span>Welcome, {{ session.user_name }}</span>
                <a href="{{ url_for('logout') }}">logout</a>
            {% else %}
                <a href="{{ url_for('login_form') }}">login</a>
                <a href="{{ url_for('signup') }}">signup</a>
            {% endif %}
        </div>
    </nav>
    </header>
    {% block body %}{% endblock %}

  </body>
</html>
