<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock %}
    <title>Journal</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/about">About</a>
        <a href="/home">Home</a>
        {% if session.user_id %}
        <div class="header-links">
            <a href="{{ url_for('logout') }}">Logout</a>
            <span>Welcome, {{ session.user_name }}</span>
        {% else %}
            <a href="{{ url_for('login_form') }}">Login</a>
            <a href="{{ url_for('signup') }}">Signup</a>
          </div>
        {% endif %}
      </nav>
    </header>
    {% block body %}{% endblock %}
  </body>
</html>
