{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>edit entry</h1>

    <form action="/api/entries/edit/{{ entry[0] }}" method="POST" class="entry-form">
        <label for="title">TITLE:</label>
        <input type="text" name="title" value="{{ entry[2] }}" placeholder="Write a short but descriptive title about your day" required><br><br>
        <label for="content">REFLECTIONS:</label><br>
        <textarea name="content" rows="10" cols="30" id="edit_content" placeholder=
        "Some ideas:
    What were your main activities and achievements?
    How did your mood fluctuate throughout the day and were there any triggers?
    Were there tasks you found yourself procrastinating on?
    Did you manage a good balance between work and relaxation? 
    Did you meet your goals, and if not, what held you back? 
    If you could relive the day, what would you do differently?
    What are your aspirations for tomorrow, and how do you plan on achieving them?" required>{{ entry[3] }}</textarea><br><br>
    
        <div class="buttons-container-edit" id="edit_content_submit">
            <input type="submit" value="AI Feedback">
    </form>
    
    <form action="/api/entries/delete/{{ entry[0] }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this entry?');">
        <input type="submit" value="Delete">
    </form>
    </div>

        <h2>AI Feedback:</h2>
        <div id="sentiment-result">
            {% for entry in entries %}
            <p>{{ entry[6] }}</p>
            {% endfor %}
        </div>
</div>
<a href="/entries">back to entries</a>

{% endblock %}