{% extends "base.html" %}


{% block body %}
    <h1>entries</h1>
    <div class="buttons-container">
    <a href="/forms/entries/add" class="new-entry-btn">NEW ENTRY</a>
    </div>

    <div class="entries-grid">
        {% for entry in entries %}
        <div class="container">
        <div class="entrycontainer">
            <a href="/forms/entries/edit/{{ entry[0] }}" class="entry-card" data-hover="Click to edit entry">
                <h2>{{ entry[2] }}</h2>
                <p>{{ entry[6] }}</p>
                <div class="date">
                    <p>created: {{ entry[4].strftime('%d %B %Y') }}</p>
                </div>
            </a>
        </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}